@import '../../main.scss';

.app {
    margin: 0 auto;
    box-sizing: border-box;
      
}
body {
    margin: 0;
    background-color: #66666636;
}
.container {
    margin: 0 auto;
    max-width: 1024px;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}

.subcontainer {
    max-width: 1024px;
    margin: 0 auto;
    
}

