@import '../../main.scss';

.menu-list {
    list-style-type: none;
    display: flex;
    &__invisible {
        display: none;
    }
    li {
        margin-left: 30px;
        cursor: pointer;
        .active {
            color: $secondary;
        }
        a {
            
            font-size: 14px;
            font-weight: 400;
            color: #212529;
            text-decoration: none;
            &:hover {
                color: $primary;
            }
            
        }
    }
}

@media (max-width: 768px) {
    .menu-list {
        display: none;
    }
}