@import '../../main.scss';
.second {
    padding: 158px 30px;
    background-color: $background-1;
    &__header {
        @include heading-1;
        text-align: center;
        color: #212529;
    }
    &__wrapper {
        display: flex;
        justify-content: center;
        img {
            margin-right: 25px;
        }
    }
    &__text-wrapper {
        margin-left: 25px;
    }
    &__subheader {
        @include heading-2;
    }
    &__paragraph {
        @include paragraph;
    }
}