@import '../../main.scss';

.text-button {
    color: $primary;
    @include paragraph;
    cursor: pointer;
    &:hover {
        color: #ee3625;
    }
}

a {
    text-decoration: none;
}

@media (max-width: 576px) {
    .text-button {
        display: block;
        text-align: center;
    }
}